bin
target
.DS_Store
plugin.xml_gen

screenshots
/plugins/org.xspray.mm/src/org/xspray/mm/xspray/validation/
/examples/org.xspray.examples.one/src-gen/
/plugins/org.xspray.mm/text/
.netrc

/plugins/org.xspray.xtext.ui/plugin.xml_gen
*.bak
/releng/scripts/release2.sh
Copy of*
Copy* of src-gen