<?xml version="1.0" encoding="UTF-8"?>
		<?eclipse version="3.0"?>
		<!--
		 Generated on Wed Sep 07 23:38:21 CEST 2011 by XSpray Plugin.xtend
		 This file will be generated oinly once if it need to be regenerated, remove this file.
		 
		-->
		<plugin>
		   <!-- Potentially redefine the EDITOR EXTENSION TO ALLOW FOR OUR OWN EDITOR SUBCLASS TO BE USED. 
		   <extension
		         point="org.eclipse.ui.editors">
		      <editor
		          class="org.xspray.examples.mod4j.diagram.mod4jDiagramEditor"
		          contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
		          default="true"
		          extensions="diagram"
		          icon="icons/diagram.gif"
		          id="org.xspray.examples.mod4j.diagram.mod4jDiagramEditor"
		          matchingStrategy="org.eclipse.graphiti.ui.editor.DiagramEditorFactory$DiagramEditorMatchingStrategy"
		          name="%_diagram_editor_name">
		       <contentTypeBinding
		             contentTypeId="org.eclipse.graphiti.content.diagram">
		       </contentTypeBinding>
		      </editor>
		   </extension>
		   -->
		
		  <extension
		      point="org.eclipse.graphiti.ui.diagramTypes">
		    <diagramType
		      description="This is the diagram type for the mod4j diagram type"
		      id="org.xspray.examples.mod4j.diagram.mod4jDiagramType"
		      name="mod4j Graphiti Diagram Type"
		      type="mod4j">
		    </diagramType>
		  </extension>
		
		  <extension
		      point="org.eclipse.graphiti.ui.diagramTypeProviders">
		    <diagramTypeProvider
		      class="org.xspray.examples.mod4j.diagram.mod4jDiagramTypeProvider"
		      description="This is my editor for the mod4j diagram type"
		      id="org.xspray.examples.mod4j.diagram.mod4jDiagramTypeProvider"
		      name="mod4j editor">
		      <diagramType
		            id="org.xspray.examples.mod4j.diagram.mod4jDiagramType">
		      </diagramType>
		        <imageProvider
		               id="org.xspray.examples.mod4j.diagram.mod4jImageProvider">
		         </imageProvider>
		    </diagramTypeProvider>
		  </extension>
		
		   <extension
		         point="org.eclipse.graphiti.ui.imageProviders">
		      <imageProvider
		            class="org.xspray.examples.mod4j.diagram.mod4jImageProvider"
		               id="org.xspray.examples.mod4j.diagram.mod4jImageProvider">
		      </imageProvider>
		   </extension>
		
		  <extension
		      point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
		      <propertyContributor contributorId="mod4j.PropertyContributor">
		          <propertyCategory category="mod4jCategory">
		          </propertyCategory>
		      </propertyContributor>
		  </extension>
		
		  <extension
		      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
		      <propertyTabs contributorId="mod4j.PropertyContributor">
		          <propertyTab label="Main" category="mod4jCategory"
		              id="mod4j.main.tab">
		          </propertyTab>
		      </propertyTabs>
		  </extension>
		<extension
		    point="org.eclipse.ui.views.properties.tabbed.propertySections">
		    <propertySections contributorId="mod4j.PropertyContributor">
		  <propertySection tab="mod4j.main.tab"           
		   class="org.xspray.examples.mod4j.property.BusinessClassNameSection"
		   filter="org.xspray.examples.mod4j.property.BusinessClassFilter"
		   id="mod4j.main.tab.BusinessClass.name">
		  </propertySection>
		  <propertySection tab="mod4j.main.tab"           
		   class="org.xspray.examples.mod4j.property.BusinessClassDescriptionSection"
		   filter="org.xspray.examples.mod4j.property.BusinessClassFilter"
		         afterSection="mod4j.main.tab.BusinessClass.name"
		   id="mod4j.main.tab.BusinessClass.description">
		  </propertySection>
		    </propertySections>
		</extension>
		<extension
		    point="org.eclipse.ui.views.properties.tabbed.propertySections">
		    <propertySections contributorId="mod4j.PropertyContributor">
		  <propertySection tab="mod4j.main.tab"           
		   class="org.xspray.examples.mod4j.property.AssociationNameSection"
		   filter="org.xspray.examples.mod4j.property.AssociationFilter"
		   id="mod4j.main.tab.Association.name">
		  </propertySection>
		  <propertySection tab="mod4j.main.tab"           
		   class="org.xspray.examples.mod4j.property.AssociationDescriptionSection"
		   filter="org.xspray.examples.mod4j.property.AssociationFilter"
		         afterSection="mod4j.main.tab.Association.name"
		   id="mod4j.main.tab.Association.description">
		  </propertySection>
		  <propertySection tab="mod4j.main.tab"           
		   class="org.xspray.examples.mod4j.property.AssociationSourceRoleNameSection"
		   filter="org.xspray.examples.mod4j.property.AssociationFilter"
		         afterSection="mod4j.main.tab.Association.description"
		   id="mod4j.main.tab.Association.sourceRoleName">
		  </propertySection>
		  <propertySection tab="mod4j.main.tab"           
		   class="org.xspray.examples.mod4j.property.AssociationSourceMultiplicitySection"
		   filter="org.xspray.examples.mod4j.property.AssociationFilter"
		         afterSection="mod4j.main.tab.Association.sourceRoleName"
		   id="mod4j.main.tab.Association.sourceMultiplicity">
		  </propertySection>
		  <propertySection tab="mod4j.main.tab"           
		   class="org.xspray.examples.mod4j.property.AssociationTargetRoleNameSection"
		   filter="org.xspray.examples.mod4j.property.AssociationFilter"
		         afterSection="mod4j.main.tab.Association.sourceMultiplicity"
		   id="mod4j.main.tab.Association.targetRoleName">
		  </propertySection>
		  <propertySection tab="mod4j.main.tab"           
		   class="org.xspray.examples.mod4j.property.AssociationTargetMultiplicitySection"
		   filter="org.xspray.examples.mod4j.property.AssociationFilter"
		         afterSection="mod4j.main.tab.Association.targetRoleName"
		   id="mod4j.main.tab.Association.targetMultiplicity">
		  </propertySection>
		  <propertySection tab="mod4j.main.tab"           
		   class="org.xspray.examples.mod4j.property.AssociationCompositeSection"
		   filter="org.xspray.examples.mod4j.property.AssociationFilter"
		         afterSection="mod4j.main.tab.Association.targetMultiplicity"
		   id="mod4j.main.tab.Association.composite">
		  </propertySection>
		  <propertySection tab="mod4j.main.tab"           
		   class="org.xspray.examples.mod4j.property.AssociationBidirectionalSection"
		   filter="org.xspray.examples.mod4j.property.AssociationFilter"
		         afterSection="mod4j.main.tab.Association.composite"
		   id="mod4j.main.tab.Association.bidirectional">
		  </propertySection>
		  <propertySection tab="mod4j.main.tab"           
		   class="org.xspray.examples.mod4j.property.AssociationOrderedSection"
		   filter="org.xspray.examples.mod4j.property.AssociationFilter"
		         afterSection="mod4j.main.tab.Association.bidirectional"
		   id="mod4j.main.tab.Association.ordered">
		  </propertySection>
		    </propertySections>
		</extension>
	
	
		// Find all clases that are shown as lists in the compartments
				    <extension
				      point="org.eclipse.ui.views.properties.tabbed.propertySections">
				      <propertySections contributorId="mod4j.PropertyContributor">
				      </propertySections>
				  </extension>
				    <extension
				      point="org.eclipse.ui.views.properties.tabbed.propertySections">
				      <propertySections contributorId="mod4j.PropertyContributor">
				      </propertySections>
				  </extension>
		</plugin>
